<%- contentFor('HeaderCss') %>


<!-- DataTables -->
<link href="/public/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
<link href="/public/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">

<!-- Responsive datatable examples -->
<link href="/public/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css">
<link href="/public/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  

<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>
<style>
	/*table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: normal;
		text-align: justify;
}*/
/*div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }*/
		table.dataTable.nowrap th {
    white-space: normal;
		text-align: justify;
		}
</style>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div id="alertmsg"></div>
								
                <a href="<%=base%>/addblog"> <button style="float: right;" type="button" class="btn btn-primary waves-effect waves-light">Add New</button>
                </a>
								<div style="float: right;margin-right: 1%;" class="btn-group me-1">
									<button type="button"  class="btn btn-primary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Action <i class="mdi mdi-chevron-down"></i></button>
									<div class="dropdown-menu" data-popper-placement="bottom-start" style="margin: 0px; position: absolute; inset: 0px auto auto 0px; transform: translate(0px, 37px);">
											<a class="dropdown-item" onclick="blogstatuschange(1)">Active</a>
											<a class="dropdown-item" onclick="blogstatuschange(2)">Inactive</a>
											<a class="dropdown-item" onclick="blogstatuschange(3)">Editors Active</a>
											<a class="dropdown-item" onclick="blogstatuschange(4)">Editors Inactive</a>
											<a class="dropdown-item" onclick="blogstatuschange(5)">Featured Active</a>
											<a class="dropdown-item" onclick="blogstatuschange(6)">Featured Inactive</a>
											<a class="dropdown-item" onclick="blogstatuschange(7)">Delete</a>
											
									</div>
							</div>
                <table id="datatable"  class="table table-striped dt-responsive nowrap table-vertical" 
								style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                    <tr>
												<th></th>
												<th><input type="checkbox" id="master"></th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Status</th>
                        <th>Editor Choice</th>
                        <th>Featured Choice</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>
											</tbody>
								</table>

            </div>
        </div>
				</div>
				<div class="col-md-3 mt-4">
					<div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mt-0" id="myModalLabel"> View Details                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-striped mb-0">
                                <thead>
                                <tr>
                                    <th style="width: 50%;">First Name</th>
                                    <td><span id="firstname">First Name</span></td>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th style="width: 50%;">Last Name</th>
                                        <td><span id="lastname">First Name</span></td>
                                    </tr>
                                    <tr>
                                        <th style="width: 50%;">UserName</th>
                                        <td><span id="username">First Name</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
				</div>
    
<script>

/*$(document).ready(function() {
    $('#datatable').DataTable( {
        "scrollX": true
    } );
} );*/


$( document ).ready(function() {
    getblogdata();
});

function getblogdata(){

var table;
table = $('#datatable').DataTable();
table.clear().draw();
       $.ajax({
type: 'GET',
dataType : 'json',
url: '<%=urlapi%>getblog',

success: function (data) {
for (var i = data.length-1; i >= 0  ; i--) {
    console.log(i);
if(data[i].status == 1)
{
    var status='<span class="badge bg-success">Active</span>'
}
else
{
    var status='<span class="badge bg-danger">Inactive</span>'
}

if(data[i].editor_pick == 1)
{
    var e_status='<span class="badge bg-success">Active</span>'
}
else
{
    var e_status='<span class="badge bg-danger">Inactive</span>'
}

if(data[i].featured_post == 1)
{
    var f_status='<span class="badge bg-success">Active</span>'
}
else
{
    var f_status='<span class="badge bg-danger">Inactive</span>'
}

if(data[i].txt_mediaurl)
{
    var image='<img height="70px" width="70px" src="<%=imagepath%>user/'+data[i].txt_mediaurl+'"/>'
}
else
{
    var image='<img height="70px" width="70px" src="<%=imagepath%>user/no_image.png"/>';
}
var content = data[i].txt_content.substring(0,500); 

var action='<a href="<%=base%>/editblog?id='+data[i].id+'" class="me-3 text-muted"><i class="mdi mdi-pencil font-size-18"></i></a><a onclick="deleteblog('+data[i].id+')" class="text-muted"><i class="mdi mdi-close font-size-18"></i></a>'
var checkbox='<input type="checkbox" class="sub_chk" data-id="'+data[i].id+'">'
table.row.add(['',checkbox,data[i].txt_blogtitle,content,image,status,e_status,f_status,action]);

}
table.draw();
},
error: function(request, status, error) {
}
});
window.scrollTo(0, document.body.scrollHeight);    

}

function blogstatuschange(statusid){
if(statusid == 1)
    {
   var statusname="to Activate selected Blog";
   var button = "Activate";
    }
    if(statusid == 2)
    {
        var statusname="to InActivate selected Blog";
        var button = "Inactivate";
    }
    if(statusid == 3)
    {
        var statusname="to Activate Editor Blog";
        var button = "Activate";
    }
    if(statusid == 4)
    {
        var statusname="to Inactivate Editor Blog";
        var button = "Inactivate";
    }
		if(statusid == 5)
    {
        var statusname="to Activate Featured Blog";
        var button = "Activate";
    }
		if(statusid == 6)
    {
        var statusname="to Inactivate Featured Blog";
        var button = "Inactivate";
    }
		if(statusid == 7)
    {
        var statusname="to Delete selected Blog";
        var button = "Delete";
    }

            var allVals = [];    
            $(".sub_chk:checked").each(function() {    
                allVals.push($(this).attr('data-id'));  
            });    
   
            if(allVals.length <=0)    
            {    
                alert("Please select row.");    
            } 
            else
            {

            
   Swal.fire({
           title: "Are you sure?",
           text: statusname,
           icon: "warning",
           showCancelButton: true,
           confirmButtonColor: "#4ac18e",
           cancelButtonColor: "#f46a6a",
           confirmButtonText: button
         }).then(function (result) {
           if (result.value) {
            var join_selected_values = allVals.join(",");   
               $.ajax({
type: 'post',
dataType : 'json',
url: '<%=urlapi%>statuschangeblog',
data: 'status='+statusid+'&id='+join_selected_values, 
success: function (data) {

	getblogdata();   
   var totalid=join_selected_values.split(",");
   totalid.forEach(element => {
    var delid=element.replace(/ /g, "").split(",")

    //alert(totalid);
   // var table = $('#datatable-buttons').DataTable();
  //  table.row(".delete_mem"+delid).remove().draw( false );
   });
  
  document.getElementById('alertmsg').innerHTML='<div class="alert alert-success alert-dismissible fade show" role="alert"><strong>Success!</strong>  '+ statusname +' successfully.<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>'
},
error: function(request, status, error) {
   document.getElementById('alertmsg').innerHTML='<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>Failed!</strong>  '+ statusname +' failed.<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>'
}
});
           }
       });
    }
}

    function deleteblog(id){

   Swal.fire({
           title: "Are you sure?",
           text: "to Delete this Blog",
           icon: "warning",
           showCancelButton: true,
           confirmButtonColor: "#4ac18e",
           cancelButtonColor: "#f46a6a",
           confirmButtonText: "Delete"
         }).then(function (result) {
           if (result.value) {
               $.ajax({

								
type: 'put',
dataType : 'json',
url: '<%=urlapi%>blogdelete/'+id,

success: function (data) {

	getblogdata();

   var table = $('#datatable-buttons').DataTable();
  table.row(".delete_mem" + id).remove().draw( false );
  document.getElementById('alertmsg').innerHTML='<div class="alert alert-success alert-dismissible fade show" role="alert"><strong>Success!</strong> Delete Message successfully.<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>'
},
error: function(request, status, error) {
   document.getElementById('alertmsg').innerHTML='<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>Failed!</strong> Delete Message failed.<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> </div>'
}
});
           }
       });
}
$('#master').on('click', function(e) {  
         if($(this).is(':checked',true))    
         {  
            $(".sub_chk").prop('checked', true);    
         } else {    
            $(".sub_chk").prop('checked',false);    
         }    
        }); 
</script>


<%- contentFor('FooterJs') %>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/public/assets/libs/sweetalert2/sweetalert2.min.js"></script>
<!-- Required datatable js -->

<script src="/public/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/public/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="/public/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/public/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="/public/assets/libs/jszip/jszip.min.js"></script>
<script src="/public/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="/public/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="/public/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/public/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/public/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<!-- Responsive examples -->
<script src="/public/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/public/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="/public/assets/js/pages/datatables.init.js"></script> 

<%- contentFor('BottomJs') %>