<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title"><%=translation.Main%></li>


                <li>
                    <a href="<%=base%>/" class="waves-effect">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> <%=translation.Dashboard%> </span>
                    </a>
                
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-users"></i>
                        <span>User </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="<%=base%>/users">Users</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-file-image"></i>
                        <span>Banners </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="<%=base%>/banner">Banners</a></li>
                        
                        
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fab fa-blogger"></i>
                        <span>Blog </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="<%=base%>/blog">Blog</a></li>
                        <li><a href="<%=base%>/manageblogcategory">Manage blog Categories</a></li>
                        <!-- <li><a href="<%=base%>/blognewslatter">Blog Newsletter</a></li>
                        <li><a href="<%=base%>/blogcomments">Blog Comments</a></li>-->
                    </ul>
                </li>
               
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fab fa-grav"></i>
                        <span>CMS </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="<%=base%>/cms">Pages</a></li>
                      <!--   <li><a href="<%=base%>/testimonial">Testimonial</a></li>-->
                        <li><a href="<%=base%>/contact">Contact</a></li>
                        <li><a href="<%=base%>/faq">Faq</a></li>
                    </ul>
                </li>
               
           

        
               
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->